:root {
    --Dark_cyan: hsl(185, 75%, 39%);
    --Very_dark_desaturated_blue: hsl(229, 23%, 23%);
    --Dark_grayish_blue: hsl(227, 10%, 46%);
    --Dark_gray: hsl(0, 0%, 59%);
    --Tarjeta_White: hsl(0, 0%, 100%);
    --tarjeta_shadow: hsl(60, 7%, 36%);
    --tarjeta_division: hsla(0, 4%, 71%, 0.329);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--Dark_cyan);
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 45vw bottom 50vh, left 50vw top 50vh; 
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tarjeta {
    background-color: var(--Tarjeta_White);
    width: 328px;
    border-radius: 15px;    
    overflow: hidden;
    box-shadow: 4px 4px 4px var(--tarjeta_shadow);

    &-cabecera {
        width: 100%;
        display: block;
    }

    &-cuerpo {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 0.5px solid var(--tarjeta_division);

        &-foto {
            border: 6px solid var(--Tarjeta_White);
            border-radius: 100%;
            margin-top: calc(-50px - 6px);
            background-color: var(--Tarjeta_White);
        }

        &-titulo {
            margin-top: 2rem;
            font-size: 18px;

            span {
                color:  var(--Dark_gray);
                font-weight: 400;
                margin-left: 1.5rem;
            }
        }

        &-texto {
            margin-top: 0rem;
            margin-bottom: 2rem;
            color: var(--Dark_gray);
            font-weight: 400;
            font-size: 1.6rem;
        }
    }

    &-pie {
        display: flex;
        justify-content: space-evenly;
        //align-items: center;

        &-social {
            text-align: center;
            //margin-top: 1rem;
            //margin-bottom: 1rem;

            h3 {
                margin-top: 2rem;
                font-size: 18px;
            }

            p {
                //letter-spacing: 0.1rem;
                color: var(--Dark_gray);
                font-weight: 400;
                font-size: 1.6rem;
                margin-top: -1.5rem;
                margin-bottom: 2rem;
            }
        }
    }
}

footer {
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: -8rem;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //height: 100vh;


}

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}
